@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --blue: rgb(1, 9, 17);
  --white: rgb(255, 255, 255);
}

.dark-mode {
  background-color: var(--blue);
  color: white;
}

.exploreNavbar {
  border-bottom: 1px solid rgb(234, 234, 234);
}

.notificationNavbar {
  border-bottom: 1px solid rgb(234, 234, 234);
}

.profile-tweet {
  border-bottom: 1px solid rgb(234, 234, 234);
}

.navbar {
  border-right: 1px solid rgb(234, 234, 234);
}

.footer {
  border-left: 1px solid rgb(234, 234, 234);
}

.homeNavbar {
  border-bottom: 1px solid rgb(234, 234, 234);
}

.TrendindsCard .font-thins {
  font-size: 0.8rem;
}



.app {
  width: 100%;

  margin: auto;
  padding: 0.5rem
}
.font-thins {
  font-size: 0.5rem;
}
.w-100 {
  width: 100%;
}
.align-center {
  align-items: center;
}
.max-w-100 {
  max-width: 100%;
}
.night-mode {
}
.night-mode {
  /* Night mode styles */
  color: white;
  background-color: black;
}

@media screen and (min-width: 800px) {
  .app {
    width: 100%;
    max-width: 800px;
    margin: auto !important;
  }
}

@media screen and (min-width: 1024px) {
  .app {
    width: 100%;
    max-width: 1024px;
    margin: auto !important;
  }
}

@media screen and (min-width: 1280px) {
  .app {
    width: 100%;
    max-width: 1280px;
    margin: auto !important;
  }
}

@media screen and (min-width: 1600px) {
  .app {
    width: 100%;
    max-width: 1280px;
    margin: auto !important;
  }
}

@media screen and (min-width: 2500px) {
  .app {
    width: 100%;
    max-width: 1600px;
    margin: auto !important;
  }
}




@media screen and (max-width: 500px) {
  .navbar {
    display: none !important;
  }
}
@media screen and (max-width:1024px) {
  .footer{
    display: none;
  }
}
@media screen and (max-width: 1280px) {
  .mobile-none {
    display: none;
  }
 .small-sc-tweet {
    display: none !important;
  }
  .round-tweet-div {
    border-radius: 50% !important;
    width: 50px;
  }
  .mobile-center {
    align-items: center;
  }
  .large-sc-tweet {
    display: none !important;
  }
}
